@import "tailwindcss";

@layer components {
  .custom-heading {
    @apply md:!text-2xl !text-base font-bold !py-4 !px-2 !mb-4 relative flex items-center gap-2;

    background-image: linear-gradient(
      90deg,
      #f8e7ce,
      #f8e7ce,
      #fff1e0,
      #f8e7ce
    );
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: bg-move 4s linear infinite;
  }

  .custom-heading::before {
    content: "";
    background-image: url("../svg/icon_h2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 40px;
    display: inline-block;
  }

  .custom-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #9a9a9b;
  }
}
