@use "base" as bs;

.header {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  background: url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);

  &-inner {
    padding: 20px 0 0 3%;
  }
  &__nav {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100px;
  }
  &__logo {
    width: 30%;
    &-img {
      height: 8.5em;
    }
  }
  &__list {
    margin-left: auto;
    display: flex;
    width: 70%;
    gap: 5px;
    justify-content: flex-end;

    &-item {
      list-style: none;
      width: 130px;
      height: 55px;
      &:hover {
        .header__list-item-link-nomal {
          visibility: hidden;
          opacity: 0;
        }
        .header__list-item-link-hover {
          visibility: visible;
          opacity: 1;
          font-size: 0.9em;
          line-height: 1.2em;
          margin-top: 5px;
        }
      }
      &-link {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        text-align: center;
        color: #000;
        font-weight: bold;

        &-img {
          height: 2.8em;
          margin: 0 auto;
        }
        &-hover {
          visibility: hidden;
          opacity: 0;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: space-around;
          transition: 0.35s;
          position: absolute;
          top: 35px;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__sp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;

    .openbtn {
      position: relative;
      cursor: pointer;
      width: 80px;
      height: 60px;
      border-radius: 5px;

      span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: #000;
        width: 45%;

        &:nth-child(1) {
          top: 15px;
        }
        &:nth-child(2) {
          top: 23px;
        }
        &:nth-child(3) {
          top: 31px;
        }
      }
    }
    .active {
      span {
        &:nth-child(1) {
          top: 18px;
          left: 18px;
          transform: translateY(6px) rotate(-45deg);
          width: 30%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 30px;
          left: 18px;
          transform: translateY(-6px) rotate(45deg);
          width: 30%;
        }
      }
    }
  }
}
.site-header {
  display: none;
}

.hiddenPc {
  display: none;
}
.hiddenSp {
  display: block;
}

// 768px以下
@include bs.mq(tb) {
  .hiddenPc {
    display: block;
    padding: 1.5em 0;
  }
  .hiddenSp {
    display: none;
  }
  .header {
    &__list {
      width: 50%;
    }
    &__logo {
      &-img {
        height: 120px;
      }
    }
  }
}

// 576px以下
@include bs.mq(sp) {
  .hiddenPc {
    display: block;
    padding: 2.4em 0 0 0;
  }
  .header {
    &__list {
      width: 30%;
    }
    &__logo {
      &-img {
        height: 90px;
      }
    }
    &__sp {
      margin: 0 10px;
    }
  }
}
